extends layouts/default

block content
  .container
    h1= title
      small #{icons.length} icons
    p
      a.button.outline(href=source, target='_blank') ⚓️&nbsp; Source
    br
    h5 Usage: 
      code
        != originalUrl.replace(/\/$/, "") + `/{icon}.svg?size={number}&color={hex}${additionalOptions ? additionalOptions : ''}`
    br
    br
    div.row.icons
      each icon, key in icons
        - var name = icon.name || key
        div.col-3.icon
          a(href=`${originalUrl.replace(/\/$/, "")}/${name}.svg`, target='_blank', rel='nofollow')
            kbd= name
          if icon
            != '&nbsp;'
            if icon.path
              include svg
            else if icon.icon
              != icon.icon
            else
              img(src='./' + name + '.svg')
    p
      br
      small All icon libraries are under their respective licenses. All brand icons are trademarks of their respective owners.
