nav.main-nav
  a(href="/") Get started
  small #{total} icons
  a(href="/clarity") &rdsh; Clarity #[small (#{iconCounts['clarity']})]
  a(href="/entypo") &rdsh; Entypo #[small (#{iconCounts['entypo']})]
  a(href="/feather") &rdsh; Feather #[small (#{iconCounts['feather']})]
  a(href="/fontawesome") &rdsh; Font Awesome #[small (#{iconCounts['fontawesome']}) ]
  a(href="/material") &rdsh; Material #[small (#{iconCounts['material']})]
  a(href="/octicons") &rdsh; Octicons #[small (#{iconCounts['octicons']})]
  a(href="/simple") &rdsh; Simple #[small (#{iconCounts['simple']})]
