- var domain = host
- var sponsor_link = 'https://www.iconfinder.com?utm_campaign=Icongram&utm_medium=partner&utm_source=Icongram&utm_content=Sponsorship%20message'
doctype html
html(lang='en')
  head
    title #{title} - Icongram
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='icon', type='image/png', href=`${domain}/favicon.png`, sizes='32x32')
    link(rel='apple-touch-icon', href=`${domain}/apple-touch-icon.png`)
    link(rel='stylesheet', href='https://unpkg.com/chota')
    link(rel='stylesheet', href='/main.css')
    link(rel='canonical', href=`${domain}`)
    meta(property='og:url', content=`${domain}`)
    meta(property='og:type', content='website')
    meta(property='og:title', content='Icongram: icons on the fly 🚀')
    meta(property='og:image', content=`${domain}/icongram-banner.png`)
    meta(property='og:description', content='Icongram serves you icons from your favourite icon library on the fly 🚀.')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@geekGogari')
    meta(name='twitter:creator', content='@geekGogari')
    meta(name='twitter:title', content='Icongram: icons on the fly 🚀')
    meta(name='twitter:image', content=`${domain}/icongram-banner.png`)
    meta(name='twitter:description', content='Icongram serves you icons from your favourite icon library on the fly 🚀..')
    meta(name='theme-color', content='#00d1b2')

  body
    #sidebar
      block sidebar
        a.logo-holder(href='/')
          img.logo(src='/logo.svg', height='64')
          .wordmark
            h1 icongram
            h6 Icons on the fly 🚀
        include ../nav
        p.is-center
          a.button.primary.is-text-uppercase.outline(href=`https://twitter.com/intent/tweet?url=${host}&text=Icongram - Icons on the fly 🚀&via=geekGogari&hashtags=web,icons,svg`, target='_blank',onclick=`ga('send', 'event', 'navigation', 'click', 'shout-out');`) #[small Give a shout-out 📣]
        #footer
          br
          p Icongram is currently hosted on Heroku and served over Cloudflare, so the uptime should be good enough &amp; reliable 💯
          br
          br
          div.is-text-center
            a(href=sponsor_link, target='_blank', onclick=`ga('send', 'event', 'navigation', 'click', 'sponsor-link');`)
              img(src='/if_text_black_182504.svg', height='24')
            p
              small
                | This project is sponsored by Iconfinder. <br> Visit 
                a(href=sponsor_link, target='_blank', onclick=`ga('send', 'event', 'navigation', 'click', 'sponsor-link');`) iconfinder.com
                |  for more icons.
          p.is-text-center.credits
            a(href='https://paypal.me/jgog/10', target='_blank', onclick=`ga('send', 'event', 'navigation', 'click', 'donate');`) 🎗 Donate
            |  &bull;  
            a(href='https://github.com/jenil/icongram/issues', target='_blank', onclick=`ga('send', 'event', 'navigation', 'click', 'issue');`) 🛠 Report an issue
            br
            | Icongram &copy; 2017
            br
            | Made by #[a(href='//jgog.in', target='_blank') Jenil Gogari 🙃  ]
    #main
      block content
    if ENV == 'production'
      <script>
      |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      |  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      |  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      |  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      | ga('create', '#{GA_ID}', 'auto');ga('send', 'pageview');
      </script>
